.manufacturer-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }


  &__loading {
    text-align: center;
    padding: 1rem;
  }

  &__anchor {
    height: 1px;
  }
}
