.header {
  background-color: var(--mat-sys-primary);
  height: 48px;

  display: flex;
  align-items: center;

  color: white;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    flex: 1;

    @media (max-width: 1000px) {
      padding: 0 1rem;
    }
  }
}
